name: CI - develop

on:
  pull_request:
    branches: [ main ]

jobs:
  sanity-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Python syntax check
        run: |
          python -m compileall .
